
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --branco-principal: #ffffff;
    --cor-cta: #167BF7;
    --branco-secundario: #f9f9f9;
    --cinza: #c0c0c0;
    --cor-fundo: #00030c;
    --cor-auxiliar: #EC2F46;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #589ef3;


}

body {
    background-color: var(--cor-fundo);
    color: #ffffff;
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;

}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;

}

.container__botao {
    background-color: var(--cor-cta);
    border-radius: 8px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao__secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    font-size: 0.75rem; 
    color: var(--cinza);
}

.container__titulo {
    font-size: 1.75rem;
    font-weight: 700;

}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%;
    margin: 0 6em;

}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-size: 3rem;
    font-weight: 700;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 3rem;
    font-weight: 700;
    color: var(--branco-principal) ;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
    
}    

.lista__item {
    font-size: 2rem;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__lista {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 1em 0;
}

.rodape__texto {
    font-size: 0.875rem;
    color: var(--branco-principal);
    margin: 1em 0;
}

.lista__link a{
    font-size: 1rem;
    text-decoration: none;
    margin-left: 1em;
    color: var(--branco-principal);
    font-weight: 700;
}

.lista__link a:hover{
    color: var(--cor-cta);
}

.lista__link a:active{
    color: purple;
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-fundo);
}